{% extends 'index.html' %}
{% block showlist %}
    {% if res_list %}
    <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Short ID</th>
              <!-- <th scope="col">Name</th> -->
            </tr>
        </thead>
        <tbody>
            {% set cnt = 1 %}
            {% for item in res_list %}
                <tr>
                    <th scope="row">{{ cnt }}</th>
                    <li>{{ item.short_id }}</li>
                    <!-- <li>{{ item.name }}</li> -->
                </tr>
                {% set cnt += 1 %}
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p> Nothing to show here. </p>
    {% endif %}

{% endblock %}